version: '3'
services:
  aws-demo-app-api:
    build:
      context: ../aws-demo-app-2019-api
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    environment:
      - LOG_LEVEL=debug
    volumes:
      - ../aws-demo-app-2019-api/src:/opt/app/src
      - ../aws-demo-app-2019-api/.env.docker:/opt/app/.env
      - ./mocks/credentials:/home/node/.aws/credentials
    command: dev
  aws-demo-app-worker:
    build:
      context: ../aws-demo-app-2019-worker
      dockerfile: Dockerfile
    environment:
      - LOG_LEVEL=debug
    volumes:
      - ../aws-demo-app-2019-worker/src:/opt/app/src
      - ../aws-demo-app-2019-worker/.env.docker:/opt/app/.env
      - ./mocks/credentials:/home/node/.aws/credentials
    command: dev
  aws-localstack:
    image: "localstack/localstack:0.8.0"
    ports:
      - "6000:4576"
      - "4572:4572"
      - "8000:4569"
      - "8088:8080"
    environment: 
      - SERVICES = s3,sqs,dynamodb
      - DATA_DIR = /tmp/localstack/data
    volumes:
      - /tmp/localstack:/tmp/localstack

      